html,
body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

* {
  color: #31bfde;
  text-decoration: none;
}

h1 {
  position: absolute;
  z-index: 0;
  font-size: 3rem;
  width: 40%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h2 {
  color: #898989;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

h3 { 
  visibility: hidden;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  width: 90%;
  margin: 10px auto;
}

.videoContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.play {
  position: fixed;
  max-width: 3.25%;
  top: 6%;
  left: 5%;
  z-index: 4;
}

.skip {
  position: fixed;
  top: 8%;
  right: 5%;
  width: 6%;
  z-index: 4;
}

@media only screen and (max-width: 768px){
  .skip {
  width: 10%;
  object-fit: contain;
  }
  }

.topia-leaves { 
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  margin: 0 auto;
  width: 50%;
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .topia-leaves {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topia-leaves {
    width: 100%;
  }
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}

.jpg {
    opacity: 0;
    /* visibility: hidden; */
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 23%;
    z-index: 2;
}

#overlay {
  visibility: hidden;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.leaf-top {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 35%;
  z-index: 1;
}

.leaf-bottom {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 35%;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .leaf-top, .leaf-bottom{
    height: 16%;
  }
}

.button {
  background-color: #884bbd;
  border: none;
  color: #edfcfe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 250px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  height: 5%;
}

.end {
  font-size: 6rem;
  color: #74e29b;
}

#demo {
  color: white;
  font-size: 1.75rem;
}

#it{
  visibility: hidden;
}

.ready {

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgba(52.06, 145.41, 255) 0%, rgba(227.38, 116.87, 255) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  text-fill-color: transparent;
  width: fit-content;
}

.but{
  visibility: hidden;
  right: 0;
  top: 110px;
  margin: 0 auto;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(126.4, 6.64, 132.81, 0.26) 0%, rgba(13.12, 101.68, 121.12, 0.26) 100%);
  border: 2px, solid;
  border-color: transparent;
  border-image: linear-gradient(rgba(255, 157, 255, 1), rgba(10, 175, 136, 1)) 30;
  border-radius: 13px;
  display: flex;
  gap: 5.15px;
  height: 1.7%;
  justify-content: center;
  overflow: hidden;
  padding: 26px 53px;
  position: relative;
  width: fit-content;
  z-index: 5;
}

@media screen and (max-width: 800px) {
  .but {
    top: 60px;
    height: 1.5%;
    padding: 16px 63px;
  }

  .ready {
    font-size: 0.9rem;
  }
}


.presents {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 63%;
  margin: 0 auto;
  height: 1.7%;
  opacity: 53%;
  z-index: 2;
}


@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
  /* position: absolute; */
  margin: auto;
  width: 100vw;
  padding: padding: 7% 15%;
  /* height: 80pt; */
  top: 0;
  bottom: 0; */
}

#text1,
#text2 {
  position: absolute;
  z-index: 0;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin: auto;
  user-select: none;
}

@media screen and (max-width: 800px) {
  #text1,
#text2 {
    font-size: 1.15rem;
  }
}

.details {
  visibility: hidden;
  margin: 10px auto 10px;
  width: 10%;
  height: auto;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .details {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .details {
    width: 35%;
  }
}

#collections {
  visibility: visible;
  font-size: 1rem;
  bottom: 50px;
}

.hosted {
  visibility: hidden;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  position: absolute;
  /* text-align: center; */
  top: 77%;
  right: 47.4%;
  margin: 0 auto;
}

.host {
  opacity: 0;
  /* visibility: hidden; */
  display: none;
  position: absolute;
  width: 100vw;
  height: auto;
  top: 62%;
}
@media screen and (max-width: 600px) {
  .host {
    top: 65%;
    height: 580px;
  }
}

#copy {
  position: absolute;
  top:0%;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: 360px auto;
  z-index: 3;
}

@media screen and (max-width: 500px) {
  #copy {
    top: 0%;
    margin: 220px auto;
  }
}

@media screen (min-width: 500px) and (max-height: 850px) {
  #copy {
    top: 0%;
    margin: 300px auto;
  }
}

.contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    margin: 30px auto;
    z-index: 3;

}

@media screen and (max-width: 600px) {
  .contents{
    margin: 30px auto;
}
}
/* p {
  visibility: visible;
  color: #FFFFFF;
  position: absolute;
  z-index: 2;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  width: 900px;
  top: 50px;

} */
.alley {
  border-radius: 50%;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50px;
  margin: 0 auto; */
  margin: 1% 1%;
  width: 7.5%;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .alley {
    width: 23%;
  }
}

.tier2{
  width: 100vw;
  height: 10%;
  background-color: red;
  
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: 90% auto 0;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.kong {
  border-radius: 50%;
  /* margin: 0 auto; */
  margin: 1% 3%;
  width: 9%;
  height: auto;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .kong {
    width: 23%;
  }
}
.host-logo {
  width: 13%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .host-logo {
    width: 40%;
  }
  
}

.host-description {
  color: #BBBBBB;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
  .host-description {
    font-size: 1.1rem;
    margin: 10px 30px;
  }
}


.input {
  visibility: hidden;
  margin: 10px auto;
  z-index: 2;
}

.text-input {
  width: 26%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  background: rgba(172, 255, 155, 0.21);
border: 1px solid #ACFF9B;
border-radius: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 1.1vw;
line-height: 37px;
text-align: center;
color: #ACFF9B;

}

@media screen and (max-width: 600px) {
  .text-input {
    width: 75%;
    height: 50px;
    font-size: 4.50vw;
  }
}

input::placeholder {
  color: #ACFF9B;
  opacity: 1;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-leaves {
  animation: 0.6s linear slidein, 0.6s linear 4s slideout forwards;
}

@keyframes slidein {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes slideout {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.fade-logo {
  animation: 0.6s linear 1s slidein forwards, 0.6s linear 4s slideout forwards;
}

@keyframes slidein {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes slideout {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.fade-presents {
  animation: 0.6s linear 2s slidein forwards, 0.6s linear 4s slideout forwards;
}

@keyframes slidein {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes slideout {
  0% { opacity: 1;}
  100% { opacity: 0;}
}

.fade-topia {
  animation: 0.6s linear 5s fadeInOutTopiaLeaves forwards, 0.6s linear 6s moveUp forwards;
}

.skip-topia {
  animation: 0.6s linear skipTopia forwards;
}

@keyframes skipTopia {
  0% {
    opacity: 0;
    top: 65px;
    width: 40%;
  }
  100% {
    opacity: 100%;
    top: 65px;
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  @keyframes skipTopia {
    0% {
      opacity: 0;
      top: 65px;
      width: 40%;
    }
    100% {
      opacity: 100%;
      top: 12%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  @keyframes skipTopia {
    0% {
      opacity: 0;
      top: 65px;
      width: 40%;
    }
    100% {
      opacity: 100%;
      top: 65px;
      width: 80%;
    }
  }
}


.fade-out {
  animation: 0.6 fade0ut 10s;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}




@keyframes fadeInOutTopiaLeaves {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

 @keyframes moveUp {
  0% {
    top: 250px;
    width: 50%;
  }
  100% {
    top: 65px;
    width: 40%;
  } 
}

/* @media screen and (max-width: 600px) {
  @keyframes moveUp {
    0% {
      top: 250px;
      width: 50%;
    }
    100% {
      top: 65px;
      width: 100%;
    } 
  }
  
} */

@media screen and (max-width: 1400px) {
  @keyframes moveUp {
    0% {
      top: 250px;
    }
    100% {
      top: 8%;
      width: 45%;
    } 
  }
}

@media screen and (max-width: 800px) {
  @keyframes moveUp {
    0% {
      top: 250px;
    }
    100% {
      top: 15%;
    } 
  }
}


.fade-description {
  animation: fadeInOutText 0.6s linear 1 forwards;
  animation-delay: 6s;
}

.skip-description {
  animation: fadeInOutText 0.6s linear 1 forwards;
}

@keyframes fadeInOutText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

.fade-details {
  animation: fadeInOutText 0.6s linear 1 forwards;
  animation-delay: 6.5s;
}

@keyframes fadeInOutText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

.skip-details {
  animation: fadeInOutText 0.6s linear 1 forwards;
}


.fade-input {
  animation: fadeInOutText 0.6s linear 1 forwards;
  animation-delay: 7s;
}

@keyframes fadeInOutText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

.skip-input {
  animation: fadeInOutText 0.6s linear 1 forwards;
}


.fade-collections {
  animation: fadeInOutText 0.6s linear 1 forwards;
  animation-delay: 7s;
}

@keyframes fadeInOutText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

.skip-collections {
  animation: fadeInOutText 0.6s linear 1 forwards;
}

.fade-in-text {
  animation: fadeIn 1s forwards;
  animation-delay: 12s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* .fade-in-topia-leaves {
  animation: fadeInLeaves 1s;
  animation-delay: 10s;
  -webkit-animation: fadeInLeaves 1s;
  -moz-animation: fadeInLeaves 1s;
  -o-animation: fadeInLeaves 1s;
  -ms-animation: fadeInLeaves 1s;
}

@keyframes fadeInLeaves {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeInLeaves {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInLeaves {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeInLeaves {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeInLeaves {
  0% { opacity: 0; }
  100% { opacity: 1; }
} */


/* .elementToFadeInAndOutSlow {
  animation: fadeInOutSlow 3s linear 1 forwards;
  animation-delay: 2s;
}

@keyframes fadeInOutSlow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 53%;
  }
  100% {
    opacity: 0;
  }
} */

/* 

.elementToFadeInAndOutTopia {
  animation: fadeInOutTopia 3s linear 1 forwards;
  animation-delay: 5s;
}

@keyframes fadeInOutTopia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
} */




