html,
body {
  height: 100%;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
}

* {
  color: #31bfde;
  text-decoration: none;
}

h1 {
  position: absolute;
  z-index: 0;
  font-size: 3rem;
  width: 40%;
  /* letter-spacing: 2px; */
  font-family: "Montserrat", sans-serif;
}

.videoContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.play {
  position: fixed;
  top: 6%;
  left: 5%;
  height: 5%;
  z-index: 1;
}

.topia {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 385px;
  margin: 0 auto;
  height: 38%;
  z-index: 2;
}


.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}

.jpg {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 315px;
  margin: 0 auto;
  height: 4%;
  z-index: 2;
}

#overlay {
  visibility: hidden;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 0; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.leaf-top {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
}

.leaf-bottom {
  visibility: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
}

.button {
  background-color: #884bbd;
  border: none;
  color: #edfcfe;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 250px;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  height: 5%;
}

.kong {
  /* transform: rotate(180deg); */
  position: fixed;
  bottom: 0px;
  right: 20%;
  height: 25%;
  z-index: 1;
}

.end {
  font-size: 6rem;
  color: #74e29b;
}

#demo {
  color: white;
  font-size: 1.75rem;
}

.ready {

  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgba(52.06, 145.41, 255) 0%, rgba(227.38, 116.87, 255) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  text-fill-color: transparent;
  width: fit-content;
}
.but{
  visibility: hidden;

  left: 130px;
  right: 0;
  top: 110px;
  margin: 0 auto;

  align-items: flex-start;
  background: linear-gradient(180deg, rgba(126.4, 6.64, 132.81, 0.26) 0%, rgba(13.12, 101.68, 121.12, 0.26) 100%);
  border: 2px, solid;
  border-color: transparent;
  border-image: linear-gradient(rgba(255, 157, 255, 1), rgba(10, 175, 136, 1)) 30;
  border-radius: 13px;
  display: flex;
  gap: 5.15px;
  height: 16px;
  justify-content: center;
  overflow: hidden;
  padding: 26px 53px;
  position: relative;
  width: fit-content;

/* box-sizing: border-box;

/* Auto layout */

/* display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start; */
/* padding: 28px 20px; */
/* gap: 5.15px; */

/* position: absolute;
width: 200px;
height: 75px;
left: calc(50% - 294px/2);
top: 4.69%;
bottom: 74.41%;
  background: linear-gradient(93.15deg, rgba(126, 7, 133, 0.26) 14.05%, rgba(13, 102, 121, 0.26) 90.99%);

  border-image: linear-gradient(rgba(255, 157, 255, 1), rgba(10, 175, 136, 1)) 30;
  border-radius: 13px;
border-width: 2px;
border-style: solid;  */
}
/* .border-wrap {
  max-width: 10px;
  padding: 0.25rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
} */

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

#container {
  /* position: absolute; */
  margin: auto;
  width: 100vw;
  /* height: 80pt; */
  top: 0;
  bottom: 0; */


/* 
  filter: url(#threshold) blur(0.6px); */

}

#text1,
#text2 {
  position: absolute;

  z-index: 0;
  font-size: 3rem;
  /* letter-spacing: 2px; */
  /* display: flex;
  justify-content: center; */
  font-family: "Montserrat", sans-serif;
  text-align: center;
width: 800px;
  user-select: none;
}

.fade-in-image {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
